<head>
  <meta charset='UTF-8'>
  <title>Palette</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href='//fonts.googleapis.com/css?family=Lato:100,300,400,900' rel='stylesheet'>
  <link href='/css/bundle.css' rel='stylesheet'>
</head>
