<header class='header'>
  <h1 class='header-logo'><a href='/'>Palette</a></h1>
  <nav class='header-nav'>
    <ul>
      <li><a class='header-signin' href='/signin'>SIGN IN</a></li>
    </ul>
  </nav>
</header>
