.c-form {
  width: 60%;
  margin: 0 auto;

  .c-form__row {
    margin-bottom: 30px;
    position: relative;
    clear: both;

    label {
      position: absolute;
      left: 6px;
      top: 16px;
      color: #666;
    }

    input {
      height: 54px;
      padding: 0 60px 0 100px;
      border-bottom: 1px solid #ddd;
    }
  }
}
