.c-global-nav {
  position: fixed;
  top: 80px;
  bottom: 0;
  width: 200px;
  background-color: #fff;

  li {
    border-bottom: 1px solid #fcfcfc;

    a {
      display: block;
      padding: 15px 0 15px 30px;
    }
  }
}
