<!DOCTYPE html>
<html lang='ja'>
<%- include('./components/_head'); %>
<body>
<%- include('./components/_header'); %>
<main class='main'>
  <div class=''>
    ポイントカードをWEBで管理して、
  </div>
</main>
</body>
</html>
